<div id="professeurs">
<a href="{{ path("professeur_create") }}">Ajouter un professeur</a>
    <table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for professeur in professeurs %}
        <tr>
            <td>{{ professeur.id }}</td>
            <td>{{ professeur.nom }}</td>
            <td>{{ professeur.prenom }}</td>
            <td>{{ professeur.email }}</td>
            <td><a href="{{ path('professeur_edit', {'id' : professeur.id }) }}">modifier</a></td>
            <td><a href="{{ path('professeur_delete', {'id' : professeur.id }) }}">supprimer</a></td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
</div>